.main_cards{
    width: 400px;
    height: 70px;
    color: aliceblue;
    background-color: #0e32d6;
    margin: 10px 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}
.main_cards:hover{
    background-color: #0934f3;
}
.main_cards >a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
}